
<div class="mapContainer">
    <div class="controlPanel">
        <input class="form-control" type="text" ng-model="busName">
        <button class="btn btn-default showRoute" ng-click="showRoute()">Show route</button>
    </div>
    <div class="map" map-lazy-load="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwph0GH1oFAHFlNONuz5_Go7_qSmEfAGM&language=uk">
        <ng-map center="current-location" scrollwheel="false" default-style="false" zoom="15" tilt="0">
            <marker animation="DROP" position="current-location"></marker>
        </ng-map>
    </div>
</div>